<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication.Properties.Settings>
            <setting name="SqlServer" serializeAs="String">
                <value>mn-mssql01</value>
            </setting>
            <setting name="SqlPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>to_cdw@codeworks.by</value>
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDataBase" serializeAs="String">
                <value>TestDB</value>
            </setting>
            <setting name="int_navigation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inr_barcod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainForms_mainTB_date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_TypeAC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_mainTB_InvNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_LanName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_ResName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_Room" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_Floor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_TypeDiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_SN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_Model" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_WrittenOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_mainTB_JiraTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_mainTB_Reason" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_hardware_InvNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_LanName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_ResName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_Room" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_hardware_Floor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_TypeDiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_hardware_SN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_Model" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_hardware_WrittenOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_hardware_JiraTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_Reason" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_hardware_ID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_mainTB_ID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_stockroom_ID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_stockroom_date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_InvNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_TypeDiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_Quantity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_SN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_Model" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_WrittenOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainForms_stockroom_JiraTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainForms_stockroom_Reason" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication.Properties.Settings>
    </userSettings>
</configuration>