<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication.Properties.Settings>
            <setting name="SqlServer" serializeAs="String">
                <value>mn-mssql01</value>
            </setting>
            <setting name="SqlPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>to_cdw@codeworks.by</value>
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDataBase" serializeAs="String">
                <value>TestDB</value>
            </setting>
            <setting name="int_navigation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inr_barcod" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication.Properties.Settings>
    </userSettings>
</configuration>