<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication.Properties.Settings.invConnectionString"
            connectionString="Data Source=mn-adpc01\SQLEXPRESS;Initial Catalog=inv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication.Properties.Settings>
            <setting name="SqlServer" serializeAs="String">
                <value>mn-mssql01</value>
            </setting>
            <setting name="SqlPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>to_cdw@codeworks.by</value>
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication.Properties.Settings>
    </userSettings>
</configuration>